<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.resort.dao.DiningHallGoodsDao">
    <resultMap id="diningHallGoodsMap" type="org.resort.entity.DiningHallGoods">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <association property="unit" column="unitid" select="org.resort.dao.UnitDao.getEntityById"/>
        <association property="type" column="typeId" select="org.resort.dao.GoodsTypeDao.getEntityById"/>
        <association property="state" column="stateId" select="org.resort.dao.StateDao.getEntityById"/>
    </resultMap>
    <delete id="delOneEntityById">
        DELETE from dininghallgoods where id=#{id}
    </delete>
    <insert id="addOneEntity">
        INSERT into dininghallgoods(name,price,unitid,typeid,stateid)
        VALUES (#{entity.name},#{entity.price},#{entity.unit.id},#{entity.type.id},#{entity.state.id})
    </insert>
    <select id="getAllEntity" resultMap="diningHallGoodsMap">
        select id,name,quantity,unitid,typeid,stateid from dininghallgoods
    </select>
    <select id="getEntityById" resultMap="diningHallGoodsMap">
        select id,name,price,unitid,typeid,stateid from dininghallgoods WHERE id=#{id}
    </select>
    <select id="getPartEntityByStateId" resultMap="diningHallGoodsMap">
        SELECT id,name,price,unitid,typeid,stateid from dininghallgoods WHERE stateid=#{stateId}
    </select>
    <select id="getPartEntityByTypeId" resultMap="diningHallGoodsMap">
        SELECT id,name,price,unitid,typeid,stateid from dininghallgoods WHERE typeid=#{typeId}
    </select>
</mapper>