<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.resort.dao.ExitRoomDao">
    <resultMap id="exitRoomMap" type="org.resort.entity.ExitRoom">
        <result property="id" column="id"/>
        <result property="date" column="date"/>
        <association property="dustman" column="dustmanid" select="org.resort.dao.EmployeeDao.getEntityById"/>
        <association property="order" column="roomorderid" select="org.resort.dao.RoomOrderDao.getEntityById"/>
    </resultMap>
    <delete id="delOneEntityById">
        DELETE from exitroom where id=#{id}
    </delete>
    <insert id="addOneEntity">
        INSERT into exitroom(date,dustmanid,roomorderid)
        VALUES (#{entity.date},#{entity.dustman.id},#{entity.roomorder.id})
    </insert>
    <select id="getAllEntity" resultMap="exitRoomMap">
        select id,date,dustmanid,roomorderid from exitroom
    </select>
    <select id="getEntityById" resultMap="exitRoomMap">
        select id,date,dustmanid,roomorderid from exitroom WHERE id=#{id}
    </select>

</mapper>