<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.resort.dao.InDepartmentDao">
    <resultMap id="inDepartmentMap" type="org.resort.entity.InDepartment">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="descriptor" column="descriptor"/>
    </resultMap>
    <select id="getEntityById" resultMap="inDepartmentMap">
    SELECT id,name,descriptor from indepartment where id=#{id}
    </select>
    <select id="getAllEntity" resultMap="inDepartmentMap">
        SELECT id,name,descriptor from indepartment
    </select>
</mapper>