<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.resort.dao.MemberDao">
    <resultMap id="memberMap" type="org.resort.entity.Member">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="balance" column="balance"/>
        <result property="identitycard" column="identitycard"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="startdate" column="startdate"/>
        <association property="memberlevel" column="levelid" select="org.resort.dao.MemberLevelDao.getEntityById"/>
        <association property="state" column="stateid" select="org.resort.dao.StateDao.getEntityById"/>
    </resultMap>
    <select id="getAllEntity" resultMap="memberMap">
        select * from member
    </select>
    <delete id="delOneEntityById">
        DELETE from member where id=#{id}
    </delete>
    <insert id="addOneEntity">
        INSERT into member(name,identitycard,levelid,account,balance,stateId,startDate,phone,password)
        VALUES (#{entity.name},#{entity.identitycard},#{entity.level.id},#{entity.account},#{entity.balance},#{entity.state.id},#{entity.startdate},#{entity.phone},#{entity.password})
    </insert>
    <select id="getEntityById" resultMap="memberMap">
        select id,name,identitycard,levelid,account,balance,stateId,startDate,phone,password from member WHERE id=#{id}
    </select>
    <select id="getPartEntityByStateId" resultMap="memberMap">
        select id,name,identitycard,levelid,account,balance,stateId,startDate,phone,password from member WHERE stateId=#{stateId}
    </select>
</mapper>